.badan{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color:  #1aa3ff;
    padding: 37px 10px 14px 8px;
    width: 270px;
    height: 166px;
    margin: 0 auto;
}

form{
    margin: 0;
}

input{
    display: block;
    padding-left: 1px;
    background-color: #fff;
    min-width: 252px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-weight: 300px;
    margin-bottom: 14px;
    font-size: 15px;
}

.kepala{
    background-color: #002db3;
    color: white;
    border: 1px solid #1a53ff;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 10px 12px;
    width: 270px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}

.kepala h1{
    font-weight: 300;
    font-size: 19px;
    margin: 0;
}

.buat_submit{
    margin-top: 10px; 
}